*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  background-color: #000;
  position: relative;
  font-family: sans-serif; }
  body::-webkit-scrollbar {
    width: 1rem;
    border-radius: 1rem; }
  body::-webkit-scrollbar-track {
    background: #000; }
  body::-webkit-scrollbar-thumb {
    background: #E19E2A; }

.footer {
  grid-area: foot;
  background-color: #000;
  display: grid;
  justify-items: center;
  align-items: center; }
  .footer__copyright {
    color: #E19E2A;
    font-size: 1.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, max-content);
    column-gap: .5rem; }
  .footer__logo {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    align-self: flex-end; }

.header {
  grid-area: head;
  background-image: url(../imgs/chulak.jpg);
  background-size: 100% 100%;
  justify-items: center;
  align-items: center; }

.main-content {
  grid-area: main;
  position: relative;
  background-image: linear-gradient(170deg, transparent 60%, rgba(0, 0, 0, 0.99)), url(../imgs/goauldFleet.jpg);
  background-size: cover;
  background-position: center;
  grid-template-columns: repeat(5, minmax(10rem, 1fr));
  grid-template-rows: 5rem repeat(9, 13rem);
  column-gap: 1rem;
  row-gap: 2rem;
  padding: 5rem;
  padding-top: 2rem; }
  @media (max-width: 62.5em) {
    .main-content {
      padding-right: 2rem;
      padding-left: 2rem; } }
  @media (max-width: 47.5em) {
    .main-content {
      grid-template-rows: 5rem repeat(11, 13rem); } }
  @media (max-width: 25.625em) {
    .main-content {
      grid-template-columns: repeat(5, 0.9fr); } }
  .main-content__bubble-wrap {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fill, 20rem);
    grid-template-rows: repeat(auto-fill, 15rem);
    grid-column: 1 / 5;
    grid-row: 2 / -1; }
    @media (max-width: 37.5em) {
      .main-content__bubble-wrap {
        grid-template-columns: repeat(2, 20rem);
        grid-template-rows: repeat(auto-fill, 15rem); } }
    @media (max-width: 28.125em) {
      .main-content__bubble-wrap {
        grid-template-columns: repeat(2, 15rem);
        grid-template-rows: repeat(auto-fill, 11.25rem); } }
  .main-content__heading {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: grid;
    justify-items: center;
    align-items: center; }
    @media (max-width: 37.5em) {
      .main-content__heading {
        justify-items: flex-start; } }
    .main-content__heading .heading-2 {
      border-bottom: 5px solid #D8B33E;
      padding: 0 3px;
      background-color: rgba(0, 0, 0, 0.3);
      box-shadow: rgba(0, 0, 0, 0.5);
      border-radius: 5px; }
  .main-content__buyers {
    grid-column: 5 / 6;
    grid-row: 1 / 8;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 2rem repeat(3, 1fr);
    grid-template-columns: 100%;
    row-gap: 2rem; }
    @media (max-width: 47.5em) {
      .main-content__buyers {
        margin-left: -5rem; } }
    @media (max-width: 28.125em) {
      .main-content__buyers {
        margin-left: -8rem; } }
    @media (max-width: 25.625em) {
      .main-content__buyers {
        margin-left: -10.5rem;
        margin-right: 2.5rem; } }
  .main-content__buyer-heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2; }
    .main-content__buyer-heading .heading-3 {
      border-bottom: 3px solid #D8B33E;
      background-color: rgba(0, 0, 0, 0.3);
      border-radius: 5px; }
  .main-content__buyers-list {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3rem;
    grid-column: 1 / -1;
    grid-row: 2 / -1; }
    .main-content__buyers-list .heading-4 {
      font-size: 2rem;
      color: #F2BE16; }
    .main-content__buyers-list--1, .main-content__buyers-list--2, .main-content__buyers-list--3 {
      display: grid;
      justify-items: center;
      align-items: center;
      grid-template-rows: 10% 1fr 20%;
      grid-template-columns: 100%;
      border-radius: 1rem;
      overflow: hidden;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%; }
      .main-content__buyers-list--1:hover, .main-content__buyers-list--2:hover, .main-content__buyers-list--3:hover {
        transform: translate(0.3rem, -0.3rem);
        box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5); }
      .main-content__buyers-list--1 .buyer-name, .main-content__buyers-list--2 .buyer-name, .main-content__buyers-list--3 .buyer-name {
        width: 100%;
        height: 100%;
        grid-row: 1 / 2;
        background-color: #000;
        display: grid;
        justify-items: center;
        align-items: center;
        border-bottom: 1px solid #E19E2A; }
      .main-content__buyers-list--1 .buyer-image, .main-content__buyers-list--2 .buyer-image, .main-content__buyers-list--3 .buyer-image {
        width: 100%;
        height: 100%;
        grid-row: 2 / 3;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        grid-template-rows: repeat(2, 1fr);
        background-color: #000; }
      .main-content__buyers-list--1 .buyer-money, .main-content__buyers-list--2 .buyer-money, .main-content__buyers-list--3 .buyer-money {
        grid-row: 3 / 4;
        padding-left: 1rem;
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        justify-items: flex-start;
        background-color: #F2BE16;
        font-size: 1rem;
        color: #000;
        font-family: 'Trispace', sans-serif; }
    .main-content__buyers-list--1 {
      grid-row: 1 / 2; }
      .main-content__buyers-list--1 .buyer-image {
        background-image: url(../imgs/apophis.jpg); }
    .main-content__buyers-list--2 {
      grid-row: 2 / 3; }
      .main-content__buyers-list--2 .buyer-image {
        background-image: url(../imgs/heruUr.jpg); }
    .main-content__buyers-list--3 {
      grid-row: 3 / 4; }
      .main-content__buyers-list--3 .buyer-image {
        background-image: url(../imgs/hathor.jpg); }
  .main-content__center-text {
    text-align: center;
    width: 100%;
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: #F2BE16;
    display: grid;
    align-items: center;
    border-bottom: 1px solid grey; }
  .main-content__bubble {
    background-color: #3713B7;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20% 1fr 30%;
    justify-items: center;
    align-items: center;
    overflow: hidden; }
    .main-content__bubble:hover {
      transform: translate(0.5rem, -0.5rem);
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5); }
    .main-content__bubble .heading-4 {
      font-size: 1.5rem;
      color: #000;
      font-family: 'Josefin Sans', sans-serif; }
  .main-content__img {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
    display: block;
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .main-content__img--1 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/zatniktel.jpg); }
    .main-content__img--2 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/karaKesh.jpg); }
    .main-content__img--3 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/rodOfAnguish.png); }
    .main-content__img--4 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/MaTokStaff.jpg); }
    .main-content__img--5 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/communicationDevice.jpg); }
    .main-content__img--6 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/healingDevice.jpg); }
    .main-content__img--7 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/stasisJar.jpg); }
    .main-content__img--8 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/symbionts.jpg); }
    .main-content__img--9 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/sarcophagus.jpg); }
    .main-content__img--10 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/zatarcRing.jpg); }
    .main-content__img--11 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/TelTac.png); }
    .main-content__img--12 {
      background-image: linear-gradient(to right bottom, rgba(242, 190, 22, 0.5), rgba(55, 19, 183, 0.5)), url(../imgs/AlKesh.png); }
  .main-content__dropdown {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    font-size: 2rem;
    color: #000;
    font-weight: 800;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color: rgba(242, 190, 22, 0.5);
    display: grid;
    justify-items: center;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.3); }
    .main-content__dropdown:hover {
      cursor: pointer;
      transform: translate(0.1rem, -0.2rem);
      box-shadow: 0 0.5rem 1rem rgba(255, 255, 255, 0.5); }
  .main-content__wanted {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    width: 90%;
    grid-column: 1 / 5;
    grid-row: 6 / 8;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 15% 1fr;
    background-color: rgba(0, 0, 0, 0.3);
    border: 5px solid red;
    border-radius: 1rem;
    overflow: hidden;
    color: #E19E2A;
    box-shadow: 0 2rem 4rem red; }
    @media (max-width: 87.5em) {
      .main-content__wanted {
        grid-row: 7 / 9; } }
    @media (max-width: 47.5em) {
      .main-content__wanted {
        grid-row: 9 / 11;
        height: 80%;
        margin-top: 5rem; } }
    @media (max-width: 28.125em) {
      .main-content__wanted {
        grid-row: 8 / 10;
        width: 100%;
        height: 100%;
        margin-top: -.5rem;
        margin-bottom: .5rem; } }
    .main-content__wanted .beheading {
      width: 100%;
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      border-bottom: 1px solid #F2BE16; }
      .main-content__wanted .beheading .heading-2 {
        margin-top: -.5rem; }
    .main-content__wanted .anubis-image {
      width: 100%;
      height: 100%;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      background-image: url(../imgs/anubis.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .main-content__wanted .reward {
      width: 100%;
      height: 100%;
      display: grid;
      justify-items: center;
      align-items: center;
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      font-size: 1.7rem;
      font-family: sans-serif; }
      @media (max-width: 87.5em) {
        .main-content__wanted .reward {
          font-size: 1.5rem; } }
      @media (max-width: 47.5em) {
        .main-content__wanted .reward {
          font-size: 1.3rem; } }
      .main-content__wanted .reward .paragraph {
        padding: 1rem;
        line-height: 1.4; }
  .main-content__owner {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(225, 158, 42, 0.5);
    width: 90%;
    grid-column: 1 / 4;
    grid-row: 8 / 11;
    margin-top: 5rem;
    margin-bottom: 10rem;
    border-radius: 1rem;
    overflow: hidden;
    grid-template-columns: 40% 1fr;
    grid-template-rows: 15% 1fr;
    box-shadow: 0 1rem 2rem black; }
    @media (max-width: 87.5em) {
      .main-content__owner {
        grid-row: 9 / 11;
        margin-top: 2rem;
        margin-bottom: -4rem; } }
    @media (max-width: 47.5em) {
      .main-content__owner {
        grid-row: 11 / 13; } }
    @media (max-width: 28.125em) {
      .main-content__owner {
        grid-row: 10 / 12;
        width: 95%; } }
    .main-content__owner .owner-name {
      width: 100%;
      height: 100%;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      text-align: center;
      border-bottom: 1px solid black; }
      .main-content__owner .owner-name .heading-2 {
        color: #000; }
    .main-content__owner .owner-image {
      width: 100%;
      height: 100%;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      background-image: url(../imgs/tyjelk.jpg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center; }
    .main-content__owner .owner-intro {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      width: 100%;
      height: 100%; }
      .main-content__owner .owner-intro .paragraph {
        font-size: 1.5rem;
        padding: 1rem 2rem;
        font-family: sans-serif;
        line-height: 1.3; }
        @media (max-width: 87.5em) {
          .main-content__owner .owner-intro .paragraph {
            font-size: 1.3rem; } }
        @media (max-width: 47.5em) {
          .main-content__owner .owner-intro .paragraph {
            font-size: 1.2rem;
            line-height: 1.1; } }
  .main-content__rules {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 4 / 6;
    grid-row: 8 / 11;
    grid-template-rows: 15% 1fr;
    row-gap: 1rem;
    background-color: rgba(225, 158, 42, 0.5);
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 5rem;
    margin-bottom: 10rem;
    box-shadow: 0 1rem 2rem black; }
    @media (max-width: 87.5em) {
      .main-content__rules {
        grid-row: 9 / 11;
        margin-top: 2rem;
        margin-bottom: -4rem; } }
    @media (max-width: 47.5em) {
      .main-content__rules {
        grid-row: 11 / 13; } }
    @media (max-width: 28.125em) {
      .main-content__rules {
        grid-row: 10 / 12; } }
    .main-content__rules .rules-intro {
      grid-row: 1 / 2;
      padding: .8rem;
      border-bottom: 1px solid black; }
      .main-content__rules .rules-intro .heading-3 {
        color: #000; }
    .main-content__rules .rules-list {
      grid-row: 2 / 3;
      width: 100%;
      height: 100%;
      font-family: sans-serif; }
      .main-content__rules .rules-list ul {
        list-style: none; }
        .main-content__rules .rules-list ul li {
          font-size: 1.5rem;
          padding: .5rem; }
          @media (max-width: 47.5em) {
            .main-content__rules .rules-list ul li {
              font-size: 1.3rem; } }
          .main-content__rules .rules-list ul li::before {
            content: "";
            background-image: url(../imgs/apophisSymbol.png);
            background-size: 100% 100%;
            display: inline-block;
            width: 2rem;
            height: 1.3rem;
            margin-right: .5rem; }

.sidebar {
  grid-area: side;
  background-color: #000;
  grid-auto-flow: column;
  justify-items: center;
  align-items: flex-start; }
  @media (max-width: 62.5em) {
    .sidebar {
      grid-auto-flow: row;
      justify-items: center;
      align-items: center; } }
  .sidebar__dropdown {
    font-size: 6rem;
    color: #E19E2A; }
    .sidebar__dropdown:hover {
      cursor: pointer; }

.hidden {
  display: none !important;
  width: 0;
  height: 0; }

.grid-container {
  margin: 2rem;
  padding: 2rem;
  background-color: #E19E2A;
  grid-template-rows: [head-start] 10rem [head-end main-start] repeat(5, min-content) [main-end foot-start] 5rem [foot-end];
  grid-template-columns: [head-start main-start foot-start] repeat(6, minmax(10rem, 1fr)) [head-end main-end foot-end sidebar-start] 10rem [sidebar-end];
  grid-template-areas: "head head head head head head side" "main main main main main main side" "main main main main main main side" "main main main main main main side" "main main main main main main side" "main main main main main main side" "foot foot foot foot foot foot side"; }
  @media (max-width: 28.125em) {
    .grid-container {
      margin: 0; } }
  @media (max-width: 25.625em) {
    .grid-container {
      padding: 0; } }
  @media (max-width: 62.5em) {
    .grid-container {
      grid-template-areas: "side side side side side side" "head head head head head head" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "main main main main main main" "foot foot foot foot foot foot";
      grid-template-columns: repeat(6, minmax(10rem, 1fr));
      grid-template-rows: repeat(2, 10rem) repeat(5, min-content) 5rem; } }
  .grid-container,
  .grid-container > * {
    border-radius: 5px;
    display: grid; }

.heading-1 {
  font-size: 5rem;
  color: #D8B33E;
  text-shadow: 1rem 3rem 6rem rgba(0, 0, 0, 0.5);
  font-family: 'Itim', cursive;
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5); }
  @media (max-width: 47.5em) {
    .heading-1 {
      font-size: 4rem; } }
  @media (max-width: 28.125em) {
    .heading-1 {
      font-size: 3rem; } }

.heading-2 {
  font-family: 'Itim', cursive;
  font-size: 3rem;
  color: #D8B33E; }
  @media (max-width: 28.125em) {
    .heading-2 {
      font-size: 2.5rem; } }

.heading-3 {
  font-family: 'Itim', cursive;
  font-size: 2rem;
  color: #E19E2A; }

.popup {
  position: fixed;
  top: -2rem;
  left: 0;
  width: 100%;
  height: calc(100% + 4rem);
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 1000; }
  .popup__content {
    background-color: #000;
    border-radius: 5px;
    width: 70%;
    height: 60%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr) 10%;
    grid-template-rows: 1fr 70% 1fr;
    overflow: hidden; }
    @media (max-width: 56.25em) {
      .popup__content {
        width: 80%; } }
    @media (max-width: 47.5em) {
      .popup__content {
        width: 90%; } }
    @media (max-width: 37.5em) {
      .popup__content {
        width: 100%; } }
    @media (max-width: 28.125em) {
      .popup__content {
        height: 50%; } }
  .popup__overview {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    border-right: 1px solid #D8B33E; }
  .popup__top-offer {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center; }
  .popup__exit {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    font-size: 4rem;
    color: #000;
    position: relative;
    z-index: 10; }
    .popup__exit:hover {
      cursor: pointer; }
  .popup__text {
    color: #E19E2A;
    font-size: 2rem;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-right: 1px solid #D8B33E; }
    .popup__text .paragraph {
      padding: 3rem;
      font-size: 1.5rem; }
      @media (max-width: 62.5em) {
        .popup__text .paragraph {
          font-size: 1.4rem; } }
  .popup__offer-content {
    color: #E19E2A;
    font-size: 2rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/randomGipsyMarket.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    .popup__offer-content .paragraph {
      padding: 3rem;
      line-height: 1.6;
      font-size: 1.7rem; }
      .popup__offer-content .paragraph .bold {
        font-weight: 800; }
  .popup__buttons {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-items: space-around;
    grid-template-columns: repeat(2, 1fr); }
    .popup__buttons .btn {
      background-color: #000;
      color: #D8B33E;
      border-radius: 1rem;
      border: 1px solid #E19E2A;
      padding: 1rem;
      width: 70%;
      font-size: 1.6rem; }
      .popup__buttons .btn:hover {
        background-color: #D8B33E;
        color: #000;
        cursor: pointer; }
      .popup__buttons .btn:focus {
        outline: none; }
  .popup__coloring {
    width: 100%;
    height: 100%;
    grid-column: 3 / 4;
    grid-row: 1 / -1;
    background-color: #E19E2A; }
  .popup--1 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/zatniktel2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--2 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/karaKesh2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--3 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/rodOfAnguish2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--4 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/MaTokStaff2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--5 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/communicationDevice2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--6 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/healingDevice2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--7 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/stasisJar2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--8 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/symbionts2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--9 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/sarcophagus2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--10 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/zatarcRing2.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--11 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/TelTac2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
  .popup--12 .popup__text {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../imgs/AlKesh2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }

.sidebar-popup {
  position: fixed;
  top: -2rem;
  left: 0;
  width: 100%;
  height: calc(100% + 4rem);
  background: linear-gradient(to right, rgba(225, 158, 42, 0.95), rgba(0, 0, 0, 0.95));
  display: grid;
  justify-items: center;
  align-items: center;
  z-index: 100;
  grid-template-columns: 1fr 70% 1fr;
  grid-template-rows: repeat(2, 1fr) 40% repeat(2, 1fr); }
  .sidebar-popup__exit {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    font-size: 5rem;
    color: #E19E2A; }
    @media (max-width: 37.5em) {
      .sidebar-popup__exit {
        align-self: flex-start;
        margin-top: 5rem; } }
    .sidebar-popup__exit:hover {
      cursor: pointer; }
  .sidebar-popup__content {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 3 / 4; }
    .sidebar-popup__content ul {
      list-style: none; }
      .sidebar-popup__content ul li {
        font-size: 5rem;
        border-radius: 1rem; }
        .sidebar-popup__content ul li:hover {
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(225, 158, 42, 0.2));
          cursor: pointer; }
        .sidebar-popup__content ul li:not(:last-of-type) {
          margin-bottom: 2rem; }
        .sidebar-popup__content ul li::before {
          content: "";
          background-image: url(../imgs/apophisSymbol.png);
          background-size: 100% 100%;
          display: inline-block;
          width: 6rem;
          height: 4rem;
          margin-right: 1rem; }
