article {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 1.2rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    background-color: rgba(0,0,0,0.6);

    ul li {
        color: #F7F41E;
        font-size: 1.7rem;
    }
    
    ol li {
        color: #F7F41E;
        font-size: 1.7rem;
        margin-left: 1%;
    }

    &.menu-content {
        position: absolute;
        overflow-y: hidden;
    }
}