.footer {
    position: fixed;
    bottom: 1%;
    width: 100%;
    right: 1%;

    .copyright1 {
        color: grey;
        float: right;
        font-size: 0.5rem;
        background-color: rgba(0,0,0,0.8);
    }
}