.footer {
    // grid-row: foot-start / foot-end;
    // grid-column: foot-start / foot-end;
    grid-area: foot;
    background-color: #000;
    @include centerGrid;

    &__copyright {
        color: $cl-gold;
        font-size: 1.5rem;
        @include centerGrid;
        grid-template-columns: repeat(3, max-content);
        column-gap: .5rem;
    }

    &__logo {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        align-self: flex-end;
    }
}