.grid-container {
    margin: 2rem;
    padding: 2rem;
    background-color: $cl-gold;

    @include respond(tiny) {
        margin: 0;
    }

    @include respond(tiniest) {
        padding: 0;
    }

    grid-template-rows:
    [head-start] 10rem [head-end main-start]
    repeat(5, min-content) [main-end foot-start]
    5rem [foot-end];

    grid-template-columns:
    [head-start main-start foot-start] repeat(6, minmax(10rem, 1fr)) [head-end main-end foot-end sidebar-start]
    10rem [sidebar-end];

    grid-template-areas: "head head head head head head side"
                         "main main main main main main side"
                         "main main main main main main side"
                         "main main main main main main side"
                         "main main main main main main side"
                         "main main main main main main side"
                         "foot foot foot foot foot foot side";

    @include respond(px1000) {
        grid-template-areas:"side side side side side side"
                            "head head head head head head"
                            "main main main main main main"
                            "main main main main main main"
                            "main main main main main main"
                            "main main main main main main"
                            "main main main main main main"
                            "foot foot foot foot foot foot";

        grid-template-columns: repeat(6, minmax(10rem, 1fr));
        grid-template-rows: repeat(2, 10rem) repeat(5, min-content) 5rem;
    }

    &,
    & > * {
        border-radius: 5px;
        display: grid;
    }
}