.heading-1 {
    font-size: 5rem;
    color: $cl-goldD;
    text-shadow: 1rem 3rem 6rem $shadow1;
    font-family: 'Itim', cursive;
    border-radius: 1rem;
    border: 1px solid $shadow1;
    box-shadow: 0 1rem 2rem $shadow1;
    background-color: $shadow1;

    @include respond(px760) {
        font-size: 4rem;
    }

    @include respond(tiny) {
        font-size: 3rem;
    }
}

.heading-2 {
    font-family: 'Itim', cursive;
    font-size: 3rem;
    color: $cl-goldD;

    @include respond(tiny) {
        font-size: 2.5rem;
    }
}

.heading-3 {
    font-family: 'Itim', cursive;
    font-size: 2rem;
    color: $cl-gold;
}
