.nav {
    background-color: $cl-blue;
    font-size: 3rem;

    & > * {
        display: flex;
    }

    &__big-size {
        justify-content: space-around;
    }

    &__small-size {
        justify-content: space-between;
    }

    &__item {
        list-style: none;
    }

    &__link {
        text-decoration: none;
        color: $cl-orange;

        &:focus {
            outline: none;
        }
    }

    &__dropdown {
        display: flex;
        flex-direction: column;
    }
}

.hidden {
    display: none !important;
}