$cl-blueL: #00c2ff;
$cl-blue: #007eff;
$cl-blueD: #001cff;
$cl-greyblue: #7e82a7;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  @include respond(huge-screen) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 37.5%;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  background: radial-gradient(rgba(128, 128, 128, 0.4), rgba(128, 128, 128, 0.4)), url(../imgs/plumberBackground.jpg);
  background-size: cover;
  background-attachment: fixed;

  & > * {
    margin: 0 10%;

    @include respond(tab-land) {
      margin: 0;
    }
  }
}
