.nav {
  padding: 3rem;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);

  & > * {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__item,
  &__item2 {
    list-style: none;
  }

  &__link,
  &__link2 {
    font-size: 3rem;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    font-family: 'Rubik', sans-serif;

    @include respond(tab-port) {
      font-size: 2.5rem;
    }

    &:hover {
      border: 1px solid grey;
    }
  }

  &__link2 {
    font-size: 2rem;
  }

  .biggerSize {
    @include respond(phone) {
      display: none;
    }
  }

  .smallerSize {
    display: none;
    @include respond(phone) {
      display: flex;
      justify-content: center;
    }

    .dropdown-btn {
      font-size: 3rem;
      color: white;
      align-self: center;
      margin-bottom: 3rem;

      &:hover {
        cursor: pointer;
      }
    }

    .hidden-dropdown {
      & > * {
        margin-bottom: 2rem;
      }
    }

    .whole-dropdown {
      display: flex;
      flex-direction: column;
    }
  }
}

.focused {
  background-color: rgba(128, 128, 128, 0.5);
  color: #fff !important;
}
