.heading-1 {
  font-size: 6rem;
  font-family: 'Lato', sans-serif;

  @include respond(tab-port) {
    font-size: 4rem;
  }

  @include respond(phone) {
    font-size: 3.5rem;
  }
}

.heading-2 {
  font-size: 4rem;
  color: whitesmoke;
}

.heading-3 {
  font-size: 1.8rem;
}

.heading-4 {
  font-size: 1.4rem;
}

.heading-5 {
  font-size: 1.2rem;
}

.heading-6 {
  font-size: 1.2rem;
}

.bold {
  font-weight: 800;
  color: lightgrey;
}
