$cl-orangeL: #F49F4D;
$cl-orange: #FF7D00;
$cl-orangeD: #DE7511;

$cl-blueL: #4DA2F4;
$cl-blue: #0082FF;
$cl-blueD: blue;


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;

    @include respond(PC) {
        font-size: 75%;
    }

    @include respond(tab-land) {
        font-size: 56.25%;
    }

    @include respond(tab-port) {
        font-size: 50%;
    }

    @include respond(phone) {
        font-size: 37.5%;
    }
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../imgs/chessboard.jpg);
    background-size: contain;
    min-height: 100vh;

    & > * {
        margin: 0 10%;
        border-radius: 1rem;
        overflow: hidden;
    }
}