.Container {
  border: 1px solid var(--cl-gold);
  border-radius: 1rem;
  box-shadow: 0 1rem 2rem var(--cl-gold);
  padding: 1rem;
  width: 60rem;
  height: 15rem;
  background-color: var(--cl-black);
  color: var(--cl-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  transition: all 1s ease;
  line-height: 1.5;

  &:hover {
    width: 80rem;
    height: 25rem;
    box-shadow: 0 2rem 4rem var(--cl-orange);
  }
}

.FrontPart {
  backface-visibility: hidden;
}

.BackPart {
  backface-visibility: hidden;
  transform: rotateX(180deg);
  display: none;
}

.Hidden {
  opacity: 0;
}

.TrulyHidden {
  display: none;
}

.Link {
  width: 2rem;
  height: 2rem;
  margin-top: 2rem;
}
