body {
    background:url(../imgs/BackgroundWorldMap.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }
    
    &::-webkit-scrollbar-track {
        background: black;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #F7F41E;
    }
}
