.hiddenMode {
    display: none;
}

.GiveTheSpace {
    margin-top: 15px;
}

.centered {
    text-align: center;
}

.hidden-content {
    display: none;
    height: 0%;
}

.adjustPic {
    text-align: center;
}

#biggerSize, #smallerSizeForText, #smallerSizeForIcons {
    display: inline;
}

a {
    color: red;
}